html,
body {
    padding: 0;
    margin: 0;
    font-family: Prata, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.homeLink{
    margin-top: 3rem;
}