html,
body {
  padding: 0;
  margin: 0;
  font-family: Prata, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
}

#mapid,
.mapClass {
  background: pink;
  height: 500px;
  width: 500px;
}

/* .leaflet-container *{
  height: 200px;
  width: 00px;
} */
